body { 
    background: rgb(246, 177, 177);
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif
  }
  .tudo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
  }
  ul { 
    display: flex; 
    list-style:none; 
    font-size: 400%; 
    font-weight: 800; 
    padding: 0; 
    margin: 0;
    flex-direction: row; 
    flex-wrap: wrap; 
    border: solid rgb(243, 134, 134);
    border-width: 0 5px;
    min-width: 150px;
    font-family: 'Plus Jakarta Sans', sans-serif
    }
  li { 
    width: 50%;
    text-align: center;  
    font-family: 'Plus Jakarta Sans', sans-serif
  }
  b {
    font-size: 500%;
    line-height: 2;
    margin: 0 2%;
    font-family: 'Plus Jakarta Sans', sans-serif
   }

   h1 {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif
  }
  #a {
    display: inline-block;
    background: rgb(243, 134, 134);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 130%;
    border-radius: 8px;
    margin: 20px 0;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif
  }

  p{
    font-family: 'Plus Jakarta Sans', sans-serif
  }